body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  min-height: 100%;
}

.profileBackground {
  background-image: url("./assets/profile_background.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 1300px;

}
