.addNew {
  float: left;
  margin-left: 15px;
}

.loggedIn {
  color: rgb(71, 81, 85);
  text-align: left;
  margin-left: 10px;
  margin-top: -35px;
  margin-bottom: 10px;
}

/* password strength indication */
.password-input:focus {
  border: 5px solid #ccc;
  color: #616161;
  outline: 0px !important;
  -webkit-appearance:none;
  box-shadow: none !important;
  padding: 7px;
  font-size: 1em;
  min-width: 250px;
  border-radius: 5px;
}

/* modal components styles */
.my-modal-error {
  color: red;
  margin-left: -40px;
}

.button-style {
  margin: 10px 10px 10px 10px;
}

.loggedIn>a {
  font-size: 20px;
}