.location-edit, .experience-edit {
    margin-top: -4px;
}

.edit-column-left {
    margin-left: 50px;
}

.column-right {
    margin-left: 30px;
}

.column-right-lable {
    border: none;
    padding-bottom: 3px;
    width: 150px;
}

.save {
    width: 100px;
}

.column-right-info-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.column-right-credentials-block {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.profileCardFooter {
    text-align: end;
    margin-top: 40px;
}

.password {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.upload {
    margin-top: 0px;
    margin-right: 20px;
    border: 1px dotted lightgrey;
    background: #d0ede2;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 25px;
}

.save {
    margin-top: -4px;
}

.profileCardFooter > a:hover {
    background-color: rgb(177, 14, 27) !important;
}