.profileCardHeader {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.profile-username-info {
    margin-left: -55px;
}

.profileUsername {
    color: black;
    font-weight: 700;
    
}

.developer-direction {
    background-color: rgb(64, 119, 80);
    width: 180px;
    padding: 7px;
    border-radius: 5px;
    color: white;
    text-align: center;
}

.userProfileImage {
    margin-top: 30px;
    margin-left: 30px;
    height: 180px;
    width: 180px;
    /* background-image: url("../../assets/einstein.jpg"); */
    /* background-image: url("/uploads/b4821ce0c35424e91f8c6e671c0cdab1.jpg"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-self: flex-start;
}

.location, .experience {
    align-self: center;
    margin-top: 38px;
}

.download {
    align-self: center;
    height: 120px;
    width: 180px;
    margin-right: -50px;
    background-color: rgb(162, 165, 162);
    color: white;
}

.download:hover {
    background-color: rgb(53, 100, 53);
}

.download-button-text {
    font-size: 18px;
    font-weight: 700;
}

.profileCardBody {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding: 70px;
}

.column-left{
    flex-direction: column;
    flex: 4;
    margin-top: 50px;
}

.column-left-profile-navigation {
    border-bottom: solid 1px grey;
    width: 186px;
    text-align: start;
    margin-left: 5px;
}

.column-left-profile-navigation:hover{
    color: white;
    background-color: grey;
}

.column-left-profile-navigation>a:hover {
    color: white;
    background-color: grey;
}

.column-left-profile-navigation>a {
    color: black;
    width: 175px;
    display: block;
}



.column-right {
    flex-direction: column;
    flex: 14;
    margin-top: -50px;
}

.profile-column-right {
    margin-left: 30px;
    margin-top: -50px
}

.column-right-row {
    display: flex;
    flex-direction: column;
}

.column-right-lable {
    border-bottom: 1px solid grey;
    width: 75px;
    flex: 2;
    font-weight: 700;
}

.column-right-info {
    flex: 10;
    margin-left: 0px;
    padding-bottom: 15px;
}

